[user]
	name = Ninan John
	email = jninan@thoughtworks.com
[core]
	excludesfile = /Users/ninanjohn/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	templatedir = /Users/ninanjohn/.git-template
[commit]
	template = /Users/ninanjohn/.stCommitMsg
